/* Latin Modern is distributed under the GUST Font License; see fonts/latin-modern/LICENSE.txt. */
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('./fonts/latin-modern/lmroman10-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('./fonts/latin-modern/lmroman10-bold.otf') format('opentype');
  font-weight: 600 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('./fonts/latin-modern/lmroman10-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Latin Modern Roman';
  src: url('./fonts/latin-modern/lmroman10-bolditalic.otf') format('opentype');
  font-weight: 600 900;
  font-style: italic;
  font-display: swap;
}
